.event-card {
  background-color: $white;
  border: 1px solid #f3f3f3;

  .thumbnail {
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      width: 100%;
      position: relative;
    }
  }
}
