.events-wrapper {
  h3 {
    color: $primary-color;
  }
  h1 {
    text-align: center;
    color: $primary-color;
    padding: 10px;
    font-weight: bold;
    &:after {
      content: "";
      width: 10%;
      margin: 0 auto;
      border-bottom: 1px solid $grey-light-color;
      display: block;
      margin-top: 20px;
    }
  }
}
