// Tenant Colors
$primary-color: #475278;
$primary-light-color: #1b61cc;
$primary-dark-color: #123462;
$secondary-color: #ffc600;
$secondary-light-color: #0049c1;
$secondary-dark-color: #da4100;
$tertiary-color: #6d6d6d;
$tertiary-light-color: #f7f7f7;
$tertiary-dark-color: #333;
$error-color: #cc082f;
$error-light-color: #922a49;
$error-dark-color: #8c1518;
$success-color: #77b900;
$success-light-color: #f2f7d6;
$success-dark-color: #4c4b0b;
$grey-color: $tertiary-color;
$grey-light-color: #ccc;
$grey-dark-color: $tertiary-dark-color;
$black: #000;
$white: #fff;

// Text Colors
$text-color: $tertiary-dark-color;
$link-color: $primary-dark-color;
$link-disabled-color: $grey-light-color;

// Button Colors
$button-primary-bg-color: $primary-color;
$button-primary-text-color: $white;
$button-primary-hover-bg-color: $grey-light-color;

$button-secondary-bg-color: $primary-color;
$button-secondary-text-color: $black;
$button-secondary-bg-color: $grey-light-color;


// Inuit Spacing Variables
$inuit-spacing-properties: (
  'padding': 'padding',
  'margin': 'margin',
);

$inuit-spacing-sizes: (
  null: $inuit-global-spacing-unit,
  '-tiny': $inuit-global-spacing-unit-tiny,
  '-small': $inuit-global-spacing-unit-small,
  '-large': $inuit-global-spacing-unit-large,
  '-huge': $inuit-global-spacing-unit-huge,
  '-none': 0,
  '-auto': auto
);

$inuit-spacing-directions: (
  null: null,
  '-top': ('-top'),
  '-right': ('-right'),
  '-bottom': ('-bottom'),
  '-left': ('-left'),
  '-horizontal': ('-left', '-right'),
  '-vertical': ('-top', '-bottom')
);
