$inuit-global-font-size: 14px;
$inuit-global-spacing-unit: 20px;
$inuit-global-spacing-unit-tiny: 10px;
$inuit-global-spacing-unit-small: 15px;
$inuit-global-spacing-unit-large: 40px;
$inuit-global-spacing-unit-huge: 60px;
