<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>React School API</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <section class="container">
        <a href="/" class="row home-container">
          <div class="col d-flex flex-row bd-highlight align-items-center justify-content-center logo-container">
            <h1 class="p-2 bd-highlight">ReactSchool</h1>
            <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="React School Logo" class="p-2 bd-highlight w-25 p-3"/>
          </div>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
