$displays: (
  flex, block, inline-block
);

@each $display in $displays {
  .#{$display} {
    display: #{$display};
  }
}

$flexes: (
  1, 2, 3, auto
);

@each $flex in $flexes {
  .flex-#{$flex} {
    flex: #{$flex};
  }
}

@include flex();

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.overflow {
  overflow: hidden;
}
